<footer id="footer" class="footer style-04">
    <div class="section-001 section-009">
        <div class="container">
            <div class="kreen-newsletter style-01">
                <div class="newsletter-inner">
                    <div class="newsletter-info">
                        <div class="newsletter-wrap">
                            <h3 class="title">Bản tin</h3>
                            <h4 class="subtitle">Kiên thức trong trang giấy</h4>
                            <p class="desc">Hãy bắt đầu đọc từ bất cứ trang nào, có thể đọc bất cứ lúc nào, và cùng với bất cứ ai.</p>
                        </div>
                    </div>
                    <div class="newsletter-form-wrap">
                        <div class="newsletter-form-inner">
                            <input class="email email-newsletter" name="email" placeholder="Nhập email của bạn ..."
                                   type="email">
                            <a href="#" class="button btn-submit submit-newsletter">
                                <span class="text"> Đăng ký</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-025">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 d-lg-none">
                    <div class="logo-footer">
                        <img src="assets/images/logo.jpg"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                    <!-- <div class="footer-desc">Kim Đồng giúp bạn bán bất cứ thứ gì.<br/>
                        Sự lựa chọn tốt nhất cho cá nhân  của bạn
                    </div>
                    <div class="kreen-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="kreen-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">Khách hàng </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target=" _blank">
                                        Vận chuyển & Lợi nhuận </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Mua sắm an toàn </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Tình trạng đặt hàng </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Vận chuyển quốc tế </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="logo-footer">
                        <img src="assets/images/logo.jpg"
                             class="az_single_image-img attachment-full" alt="img" style="height: 50px;">
                    </div>
                    <div class="footer-desc">Kim Đồng giúp bạn bán bất cứ thứ gì.<br/>
                        Sự lựa chọn tốt nhất cho cá nhân  của bạn.
                    </div>
                    <!-- <div class="kreen-socials style-01">
                        <div class="content-socials">
                            <ul class="socials-list">
                                <li>
                                    <a href="https://facebook.com/" target="_blank">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.pinterest.com/" target="_blank">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="kreen-listitem style-04">
                        <div class="listitem-inner">
                            <h4 class="title">
                                THÔNG TIN </h4>
                            <ul class="listitem-list">
                                <li>
                                    <a href="#" target="_self">
                                      Chính sách bảo mật </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Dịch vụ khách hàng </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Đơn hàng và Trả hàng </a>
                                </li>
                                <li>
                                    <a href="#" target="_self">
                                        Liên hệ </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-016">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>© Bản quyền 2020 <a href="#">Kim Đồng</a>. 
                        Đã đăng ký Bản quyền.</p>
                </div>
                <div class="col-md-6">
                    <div class="payment">
                        <img src="assets/images/payment.png"
                             class="az_single_image-img attachment-full" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a href="index.html">
					<span class="icon">
						<span class="pe-7s-home"></span>
					</span>
                Home
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a href="wishlist.html">
					<span class="icon">
						<span class="pe-7s-like"></span>
					</span>
                Wishlist
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="cart.html">
					<span class="icon">
						<span class="pe-7s-shopbag"></span>
						<span class="count-icon">
							0
						</span>
					</span>
                <span class="text">Cart</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="my-account.html">
					<span class="icon">
						<span class="pe-7s-user"></span>
					</span>
                Account
            </a>
        </div>
    </div>
</div>
<a href="#" class="backtotop active">
    <i class="fa fa-angle-up"></i>
</a>