<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" type="button">Thêm sản phẩm</button>
    </div> -->
    <!-- Modal -->
    <div class="modal fade" style="margin-top: 400px;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content" style="width: 700px;">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thông tin tin tức</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="exampleFormControlInput1">Tiêu đề</label>
              <input [(ngModel)]="tieude" #tensp type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            
            <div class="form-group">
              <label for="exampleFormControlFile1">Tóm tắt</label>
              <textarea [(ngModel)]="tomtat" #mtn></textarea>
            </div> 
          
            <div class="form-group">
              <label for="exampleFormControlFile1">Hình ảnh</label>
              <input type="file" (change)="onchange($event)" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
              <label for="exampleFormControlFile1">Nội dung</label>
              <ckeditor [(ngModel)]="noidung" #myEditor [config]="{uiColor: '#a4a4a4'}" debounce="500"> </ckeditor>
            </div>  
            <div class="form-group">
                <label for="exampleFormControlInput1">Ngày đăng</label>
                <input [(ngModel)]="ngaydang" #tensp type="text" class="form-control" id="exampleFormControlInput1">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="button" (click)="getdata(tieude.value,tomtat.value,noidung.value,ngaydang.value)" class="btn btn-primary">Lưu</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
    <div class="row">
      <!-- Datatables -->
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="row card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <div class="col-10">
              <h6 class="m-0 font-weight-bold text-primary">Quản lý tin tức</h6>
            </div>
            <div class="col-2">
              <button class="btn btn-primary" (click)="create_sp()" data-toggle="modal" data-target="#exampleModal" type="button">Thêm tin tức</button>
            </div>
          </div>
          <div class="table-responsive p-3">
            <table class="table align-items-center table-flush" id="dataTable">
              <thead class="thead-light">
                <tr>
                  <th>Hình ảnh</th>
                  <th>Tiêu đề</th>
                  <th>Tóm tắt</th>
                  <th>Ngày đăng</th>
                  <th>Chức năng</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                    <th>Hình ảnh</th>
                    <th>Tiêu đề</th>
                    <th>Tóm tắt</th>
                    <th>Ngày đăng</th>
                    <th>Chức năng</th>
                </tr>
              </tfoot>
              <tbody>
                <tr *ngFor="let tt of tintuc">
                  <td><img src="../../../../assets/images/tintuc/{{tt.hinhanh}}" style="width: 50px; height: 50px;"></td>
                  <td>{{tt.tieude}}</td>
                  <td>{{tt.tomtat}}</td>
                  <td>{{tt.ngaydang}}</td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="update(tt.matt)">Sửa</button>
                    <button class="btn btn-primary" (click)="delete_sp(tt.matt)">Xóa</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
    <!--Row-->
  
    <!-- Documentation Link -->
    <div class="row">
      <div class="col-lg-12">
        <p>DataTables is a third party plugin that is used to generate the demo table below. For more information
          about DataTables, please visit the official <a href="https://datatables.net/" target="_blank">DataTables
            documentation.</a></p>
      </div>
    </div>
  
    <!-- Modal Logout -->
    <div class="modal fade" style="margin-top: 400px;" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to logout?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
            <a href="login.html" class="btn btn-primary">Logout</a>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <!---Container Fluid-->
  